@model PowerlineTracker.Models.Powerline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Наименование объекта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractPIR.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPIR.DateOfSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPIR.DateOfComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPIR.ContractSum)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ContractPIR.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ContractPIR.DateOfSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ContractPIR.DateOfComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ContractPIR.ContractSum)
            </td>
        </tr>

    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConractSMR.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConractSMR.DateOfSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConractSMR.DateOfCompleteFirstStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConractSMR.DateOfCompleteSecondtStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConractSMR.ContractSum)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ConractSMR.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ConractSMR.DateOfSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ConractSMR.DateOfCompleteFirstStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ConractSMR.DateOfCompleteSecondtStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ConractSMR.ContractSum)
            </td>
        </tr>

    </table>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InternalNotes)
        </dt>

        <dd>
            @Html.ActionLink("Список СЗ", "Index", "InternalNote", new { id = Model.ID }, new { target = "_blank" }) |
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
